	<div class="panel panel-default">
		<div class="panel-heading panel-title">Devices<p class="title-sub">Full list of all the devices.</p></div>
		<div align="left">
			<form style="padding:5px 3px 5px 3px" class="form-inline">
				<!--<div style="padding:0px 15px 0px 0px" class="form-group">
					<a class="btn btn-small btn-danger" ng-click="back()">Back</a>
				</div>-->
				<div style="padding:0px 15px 0px 0px" class="form-group">
					<label for="search">Create Device: </label>
					<input ng-model="address" type="text" class="form-control" placeholder="e.g. AB:CD:1E:F4:56:90">
					<a class="btn btn-small btn-primary" ng-click="addNewDevice()"><span class="glyphicon glyphicon-plus"></span></a>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="text" ng-model="searchText" g-change="search()" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
					</div>
				</div>
				<!--&nbsp;&nbsp;&nbsp;
				<div class="form-group">
					<div class="input-group">
						<select id="sort" class="form-control" ng-model="orderBy" placeholder="Sort">
							<option></option>
							<option>key</option>
							<option>owner</option>
							<option>status</option>
						</select>
						<span class="input-group-addon"><span class="glyphicon glyphicon-sort-by-attributes"></span></span>
					</div>	
				</div>-->
				&nbsp;&nbsp;&nbsp;
				<div class="form-group">
					<b>Show items:</b>
					<div class="input-group">
						<select class="form-control" ng-model="currentNumSelection" ng-options="opt.label for opt in showNumItemsOnPage"  ng-change="refreshTable()">
						</select>
					</div>								
				</div>
			</form>
		</div>
		<devices-paginated-table></devices-paginated-table>
	</div><!-- panel -->
